.AcardHotPrice{

      width:130px;
      height:30px;
      font-size: 0.8rem;
      border-radius: 20px;
      color: white;
      background-color: rgb(233, 64, 13);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
}

.AfireIcon{
    background: -webkit-linear-gradient(rgb(250, 65, 65), rgb(255, 200, 19));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.AcardHover:hover{
    transform: scale(1.1);
}