.AfixedCatCard{
    top: 0;
    bottom:0;
    position:-webkit-sticky;
    overflow-x:hidden;
    margin-left: 10px;
    box-shadow: none !important;
    width: 14rem;
}

.AcatbrandLogo{
    /* border:2px solid rgba(117, 117, 117, 0.445); */
    align-items: center;
}

.AbrandCard{
    width: 14rem;
    margin-left: 10px;
}

.AcatCardText{
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
}