.ApriceRangeBox{
    border-radius: 10% !important;
    border-color:  rgb(10, 167, 184) !important;
    margin-right: 10px;

}
.ApriceRangeBox:hover{
    border-color:  rgb(10, 167, 184);
    transform: scale(1.1);
}

.Arange-slider{
    max-width: 100px;
}

.AviewIcon{
    font-size: 27px;
    color: rgb(87, 87, 87);
    margin-left: 12px;
    padding: 2px;
    border:4px solid rgb(87, 87, 87);
    border-radius: 20%;
    
}

.AviewIcon:hover{
    color: rgb(10, 167, 184);
    border:4px solid  rgb(10, 167, 184);
}

.AviewGrp{
    margin-left: 15rem;
    align-content: center;
    margin-bottom: 10px;
}
.AviewLabel{
    margin-left: 35px;
}